<!DOCTYPE html>
<html lang="en">

<head id="head">
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<h1 id="page-title"></h1>

<div class="container">
    <table class="table" id="users-table">
        <thead>
        <tr>
            <th id="firstname-header">firstname</th>
            <th id="lastname-header">lastname</th>
            <th id="username-header">username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="firstname">dummy data</td>
            <td class="lastname">dummy data</td>
            <td class="username">dummy data</td>
        </tr>
        </tbody>
    </table>

    <footer id="footer">
        Footer is here
    </footer>
</div>